<% @title = "Article - #{@article.title}" %>

<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= @article.title %></h5>
    <i class="fas fa-calendar"></i> <%= @article.created_at.strftime("%b %d %Y") %>
    <hr>
    <p class="card-text mt-1">
        <%= @article.body %>
    </p>
    <%= link_to "Edit Article", edit_article_path(@article), class: "btn btn-primary btn-lg float-right" %>
    <%= link_to "Delete Article", 
      article_path(@article), 
      method: :delete, 
      class: "btn btn-danger btn-lg float-right mr-2",
      data: { confirm: "Are you sure you want to delete article?" }
    %>
    <%= link_to 'Cancel', :articles, class: 'btn btn-outline-secondary btn-lg float-right mr-2' %>
  </div>
</div>